/* IndieFlower */
@font-face {
    font-family: IndieFlower;
    src: url(../fonts/IndieFlower.ttf);
}

/* digital */
@font-face {
    font-family: Digital;
    src: url(../fonts/Digital.ttf);
}

.indie, h3, h4, h5 {
  font-family: 'IndieFlower', cursive;
}

.item-content {
  padding-right: 0 !important;
}

.button-large{
    font-size: 5em;
    font-weight: 700;
    /* min-height: 80px; */
	min-height: 16vh;
	vertical-align: middle;
	padding-top: 0; /*0.25em;*/
}

.button-small{
  min-height: 15px;
	text-align: center;
}

.title {
	font-size: 1em;
  font-family: 'Indie Flower', cursive;
}

.center {
  display : block;
	margin: 0 auto; 
}

.teamname {
	float: left;
	font-size: .6em;
  padding: 0px 0px 0px 0px;
  font-family: 'IndieFlower', cursive;
}

.timer {
	font-size: 5em;
  font-family: 'Digital';
}

/* only firefox */
@-moz-document  url-prefix(){
  .timerEdit {
    width: 50% !important;
  }
}
.timerEdit {
  font-size: 4em !important;
  font-family: 'Digital';
  height: inherit !important;
}

.timerEditColor {
  background-color: #E6E6E6;
  text-align: center;
}

.timerbuttons{
  font-size: 1.5em !important;
}

.bar-footer{
  height: 5.5em;
}

.bar-subfooter {
    height: 11em;
}

.arrowhelp {
	font-size: .6em;
	font-family: courier;
}

.itemScore{
	font-size: 1.9em !important;
	text-align: center !important;
	font-family: Lucida Console;
	/*font-style: bold !important;*/
}

/*  footer buttons */
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
  font-size: 2.5em !important;
}

.button {
  border-width: 0px !important;
}

.optionIcon {
  font-size: 1.7em;
}

div.centre {
  width: 60%;
  display: flex;  
  margin-left: auto;
  margin-right: auto; 
  padding: 0;
}

.sortstyle{
	font-size: .9em !important;
	text-align: center !important;
	font-family: Lucida Console;
	margin: 0;	
	display: table-cell;
    vertical-align: top;
}

.toggle .handle {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 28px;
  height: 21px;
  border-radius: 28px;
  background-color: #fff;
  top: 7px;
  left: 7px; 
 }
 
.toggle .handle:before {
    position: absolute;
    top: -0px;
    left: -22px;
    padding: 19px 35px;
    content: " "; 
}

.item-toggle, .item-toggle.item-complex .item-content {
  padding-right: 75px; }
  
.item-toggle .toggle {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 3; }
  
/* the track appearance when the toggle is "off" */
.toggle .track {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  width: 54px;
  height: 25px;
  border: solid 2px #E5E5E5;
  background-color: #E5E5E5;
  content: ' ';
  cursor: pointer;
  pointer-events: none; }