<ion-view view-title="About">
  <ion-content>
    <div class="row">
      <div class="col" align="center">
        <img src="./images/logo.png" width="40%"
            onclick="window.open('http://clevermonkeysoftware.com', '_system', 'location=yes'); return false;"></img>
        <h4><a class="item" href="#" 
            onclick="window.open('http://clevermonkeysoftware.com', '_system', 'location=yes'); return false;">
            CleverMonkeySoftware.com</a></h4>
        </br>
        <h4><b>Team</b></h4>
        </br>
        <h4><b>Developer</b></h4>
        <h5>Santiago Pintos</h5>
        </br>
        <h4><b>Content & Marketing</b></h4>
        <h5>Rodrigo Diaz</h5>
        <h5>Rosario Pintos</h5>
        </br>
        <!--href="market://details?id=com.cms.sk"-->
        <h4 style="color: brown;"><b>If you find the app useful please take a minute to 
        <a style="color: blue;"
            onclick="window.open('market://details?id=com.cms.sk', '_system', 'location=yes'); return false;">
          rate it.</a> 
        Thanks!</b></h4>
        </br>
        <h4><b>Questions? Comments?</b></h4>
        </br>
        <h5>CleverMonkeySoftware@gmail.com</h5>
        </br>
        </br>
        <h5>{{$root.appversion}}</h5>

      </div>
    </div>
  </ion-content>
</ion-view>
