<ion-view view-title="Help">
    <ion-content>
    <div class="row">
      <div class="col" align="center">
        <div class="item">
          <h2><b>- TAP to Add 1 point</b></h2>
        </div>
        
        <div class="list card" > <!--style="display: flex;"-->
          <div class="item">
            <h2><b>- SLIDE Left for more options</b></h2>
          </div>
          <div class="item">
            <img src="./images/help44.png" width="100%" style="max-width: 400px;"></img>
          </div>
        </div>
        
        <div class="list card" > <!--style="display: flex;"-->
          <div class="item">
            <h2><b>- HOLD to Add Multiple Points</b></h2>
          </div>
          <div class="item">
            <img src="./images/help5.png" width="100%" style="max-width: 300px;"></img>
          </div>
        </div>
        
        <div class="list card" > <!--style="display: flex;"-->
          <div class="item">
            <h2><b>- More Features</b></h2>
          </div>
          <div class="item">
            <img src="./images/help88.png" width="100%" style="max-width: 400px;"></img>
          </div>
        </div>
  
        <div class="list card" > <!--style="display: flex;"-->
          <div class="item">
            <h2><b>- Click on Numbers to Edit Timer Length</b></h2>
          </div>
          <div class="item">
            <img src="./images/help7.png" width="100%" style="max-width: 400px;"></img>
          </div>
          <div class="item">
            <img src="./images/help6.png" width="100%" style="max-width: 400px;"></img>
          </div>
        </div>
  
      </div>
    </div>
    </ion-content>
</ion-view>
