<ion-view view-title="Simple ScoreKeeper">
  <ion-content>
    <ion-list>  
        <ion-item ng-if="teams.length == 0">
          Where did everyone go? :( 
        </ion-item> 
        
        <ion-item item="team"
          ng-repeat="team in teams | orderBy: predicate:reverse"           
          ng-click="plusMinusOne(team.id,1)" 
          on-hold="addMultPoints(team.id)"
          class="ng-class:team.myClass">	
          <div class="row">
            <div class='col' align='left' style="padding-right: 60px;">
              <span class="teamname">{{team.name}}</span>
            </div>  
            <div class='col' align='center'>
              <i class="icon ion-plus-round"></i>
              <span class="itemScore">{{team.score}}</span>
            </div>
            <div class='col' align='right'>
              <span class="arrowhelp"> <<< </span>
            </div> 
            <ion-option-button class="button-stable ion optionIcon ion-trash-a" ng-click="deleteTeam(team.id)"> </ion-option-button>
            <ion-option-button class="button-stable ion optionIcon ion-compose" ng-click="showRename(team.id)"> </ion-option-button>
            <ion-option-button class="button-stable ion optionIcon ion-minus-round" ng-click="plusMinusOne(team.id,-1)"> </ion-option-button>
          </div>
        </ion-item>        
    </ion-list>
    <!--{{history}}-->
  </ion-content>
  <!-- Timer section -->
  <ion-footer-bar class="bar-subfooter" ng-show="showtimer">
    <div class="row">
        <div class="col" align="center" ng-show="!showtimerEdit">
          <timer interval="1000" 
             countdown="timerLength" 
             finish-callback="timerFinished()"
             class="timer"
             autostart="false" 
             ng-click="showtimerEdit = ! showtimerEdit;">{{mminutes}} : {{sseconds}} </timer>
        </div>
        <!-- EditTimer section -->
        <div class="item-input-inset centre" ng-show="showtimerEdit">
          <input type="number" 
            ng-model="editMinutes" 
            class="timerEdit timerEditColor"/>
          <span class="timerEdit">&nbsp; : &nbsp;</span>
          <input type="number" 
            ng-model="editSeconds"  
            class="timerEdit timerEditColor"/>
        </div>
    </div>
    <button class="button button-dark timerbuttons button-block" ng-show="showtimerEdit"
        ng-click="saveTimer()"
        ng-disabled="!validateTimer()" >{{validateTimer() ? 'Save' : 'must be between 00:01 and 59:59'}}</button>
    <div class="row" ng-show="!showtimerEdit">
      <button class="button button-dark timerbuttons button-block" 
              ng-click="timerRunning ? stopTimer() : startTimer()">{{timerRunning ? 'Pause' : 'Start'}}</button>
      <div class="spacer" style="width: 20px; height: 1px;"></div>
      <button class="button button-dark timerbuttons button-block"
              ng-click="resetTimer()" >Reset</button>
    </div>
  </ion-footer-bar>
  <ion-footer-bar class="bar-stable" >
    <div class="button-bar">
      <i class="button icon ion-ios-undo" ng-click="undo()"><p class="lowerbartext">Undo</p></i>
      <i ng-class="{ button: true, icon: true, 'ion-ios-time': showtimer,
                   'ion-ios-time-outline': !showtimer}" ng-click="hideTimer()"><p class="lowerbartext">Timer</p></i>
      <i class="button icon ion-ios-minus-outline" ng-click="clearAll()" ><p class="lowerbartext">Clear All</p></i>
      <i class="button icon ion-person-add" ng-click="addTeam()" ><p class="lowerbartext">Add Team</p></i>
      <i ng-class="{ button: true, icon: true, 'ion-arrow-down-c': sortstyle == 1, 
                   'ion-arrow-up-c': sortstyle == 2, 'ion-ios-circle-outline': sortstyle == 0 }"
         ng-click="toggleSort()" ><p class="lowerbartext">Sort</p></i>
      <!--<ion-toggle toggle-class=" button toggle toggle-calm" 
        ng-model="sorting.checked" ng-change="toggleSort()" > Order </ion-toggle>-->
    </div>
  </ion-footer-bar>
</ion-view>
